body{
  background-color: #383B53;
  color: white;
}

/*******************************/
/******* Nav-list styles *******/
/*******************************/
#nav-list{
  list-style-type: none;
}

#nav-list li{
  display: inline;
}

#nav-list li a:hover{
  color: white;
  /* background-color: cyan; */
}
