body{
  background-color: #2d7d91;
  color: white;
}

/*******************************/
/******* Nav-list styles *******/
/*******************************/
#nav-list{
  list-style-type: none;
}

#nav-list li{
  display: inline;
  color: white;
}

#nav-list li a:hover{
  color: lavender;
  /* background-color: cyan; */
}
