body{
  /* background-color: purple; */
  background-image: url('Assets/mushrooms.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: WHITE;
}

h1{
  text-align: center;
  }

p{
  text-align: center;
}

.box{
  background-color: #57302d;
  box-shadow: 10px 10px 12px 2px grey;
}
